{% load static %}

<nav class="navbar navbar-expand-lg fixed-top" id="main-navbar">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'blog:index' %}">AikosPlay</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'blog:index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'blog:formulario_post' %}">Añadir un post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'blog:formulario_categoria' %}">Añadir una categoria</a>
                </li>
                <!-- <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'blog:cosplays' %}">Cosplays</a></li> -->
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'blog:buscar_autor' %}">Autores</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'account:profile' %}">
                        {% if request.user.profile.avatar %}
                            <img src="{{ request.user.profile.avatar.url }}" height="35" class="d-inline-block aling-top rounded-circle" >
                        {% else %}
                            <img src="{% static 'assets/img/users.png' %}" height="35" class="d-inline-block aling-top rounded-circle" >
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'account:logout' %}">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'account:login' %}">Iniciar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'account:register' %}">Registrate</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
