{% extends 'index.html' %}


{% block titulo %}
    Formulario
{% endblock titulo%}

{% block titulo_principal %}
    Formulario para añadir posts
{% endblock titulo_principal %}

{% block contenido %}
    <form method="POST">
        {% csrf_token %}
        <p>Titulo: <input type="text" name="titulo"></p>
        
        <p>Descripcion: <input type="text" name="descripcion"></p>
        
        <p>Contenido: <input type="text" name="contenido"> </p>
        
        <br>
        <input type="submit" value="Enviar">
    </form>
{% endblock contenido %}