{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous" />
   
    <title>{% block titulo %}{% endblock titulo %}</title>
</head>
<body>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-body">
                        {% block titulo_user %}
                        {% endblock titulo_user %}
                        <hr>
                        <img src="{% static 'assets/img/users.png' %}" class="img-fluid rounded mx-auto d-block pb-4" style="max-width: 60%;">
                        {% block contenido %}     

                        {% endblock contenido %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>