{% extends 'base.html' %}

{% load static %}

{% block header %}
<header>
    
</header>
{% endblock header%}

{% block principal %}
<br><br><br><br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            <form action="{% url 'account:profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
    
                <div class="media">
                    {% if perfil.avatar %}
                        <img src="{{ perfil.avatar.url }}" height="40" class="d-inline-block aling-top rounded-circle" >
                    {% else %}
                        <img src="{% static 'assets/img/users.png' %}" height="40" class="d-inline-block aling-top rounded-circle" >
                    {% endif %}
                    
                    <div class="media-body">
                        <h5 class="ml-4">@{{ user.username }} | {{ user.get_full_name }}</h5>
                        <p class="ml-4"><input type="file" name="avatar"></p>
                    </div>
                </div>
                <hr><br>
                <div class="form-group">
                    <label>Biografia</label>
                    <textarea class="form-control" name="biografia" value="{{ perfil.biografia }}">{{ perfil.biografia }}</textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-block mt-5">Actualizar perfil</button>
    
            </form>
        </div>
    </div>
</div>

{% endblock principal %}